extends layout

block styles
    link(rel='stylesheet', href='/stylesheets/games.css')
    link(rel="shortcut icon" href="#")

block content
    h1 Game Page (#{title})

    p#waiting(class=`${ready ? "hidden" : ""}`) Waiting on users (#[span.current-count #{count}] of #[span.required-count #{required_count}])

    #game-table(class=`${ready ? "" : "hidden"}`)
        .draw-pile
            .card.special
        #discard
    
    h4 Game Chat
    template#message-content
        .chat-message
            span.username
            span.message
            span.timestamp

    #chat
        #messages
        div
            input#message(type="text" method="post" placeholder="Say hello")
            button(type="submit") Send

block footer 
    script(src="/javascripts/games/join.js")
    