extends layout 

block content
    h1 Lobby Page
        h2 Welcome (#{username} #{userId})

    #game-lists
    #create-game
        form(action="/authenticated/games/create" method="post")
            label(for="title")
            input(type="text" name="title")
            button(type="submit") Create Game
            
    h2 Active Games
    #active-game-list 
        ul 
            each game in games.active 
                li 
                    a(href=`/games/${game.id}`)= game.title 

    h3 Joinable Games                    
    #joinable-game-list
        ul 
            each game in games.joinable    
                li 
                    form(action=`/games/${game.id}/join` method="post")
                        button(type="submit") Join #{game.title || game.id}
    
    h4 General Chat
    template#message-content
        .chat-message
            span.username
            span.message 
            span.timestamp

    #chat 
        #messages
        div
            input#message(type="text" method="post")
            button(type="submit") Send