//extends layout 

//block content
    h1 Lobby Page
        h2 Welcome (#{username} #{userId})

    #game-lists
    #create-game
        form(action="/authenticated/games/create" method="post")
            label(for="title")
            input(type="text" name="title")
            button(type="submit") Create Game
            
    h2 Active Games
    #active-game-list 
        ul 
            each game in games.active 
                li 
                    a(href=`/games/${game.id}`)= game.title 

    h3 Joinable Games                    
    #joinable-game-list
        ul 
            each game in games.joinable    
                li 
                    form(action=`/games/${game.id}/join` method="post")
                        button(type="submit") Join #{game.title || game.id}
    
    h4 General Chat
    template#message-content
        .chat-message
            span.username
            span.message 
            span.timestamp

    #chat 
        #messages
        div
            input#message(type="text" method="post")
            button(type="submit") Send
            
// FRONT END HERE - JONATHAN ---------------------------------------
doctype html
head
  title UNO! The Game
  style.
    #header_Light_Style {
    background-color: #c21010;
    border: 0;
    width: 100%;
    padding: 0px;
    }
    #header_Dark_Style {
    border: 0;
    width: 100%;
    padding: 0px;
    background-color:#851515;
    }
    #smallBox {
    border: 0;
    border-radius: 25px;
    background: #851515;
    color: white;
    padding: 15px;
    width: 100%;
    }
    #whiteText {
    color: white;
    font-family: "Comic Sans MS";
    font-size: 300%;
    }
    #titleText {
    color: yellow;
    font-family: "Comic Sans MS";
    font-size: 300%;
    }
    #urlText {
    color: white;
    font-family: "Comic Sans MS";
    font-size: 100%;
    }
    #buttonStyle {
    border-color: #851515;
    background-color:#851515;
    color: white;
    border-radius: 200px;
    }
  title UNO! Log in
  link(rel='stylesheet' type='text/css' href='index.css')
// Start Header
table(border='0' width='100%' cellpadding='0' cellspacing='0' bgcolor='#851515')
  tr
    td
      table(border='0' width='85%' cellpadding='15' cellspacing='0' align='center')
        tr
          td
            font(face='Comic Sans MS' color='white' size='10')
              // <div class="loader"></div>
              strong UNO!
          // some picture
          td(width='10%' align='left' valign='middle')
            img(src='logo.png' alt='Logo' width='200' height='200')
          // some picture
          td(width='40%' align='left' valign='middle')
            font(face='Comic Sans MS' color='white' size='10')
              // <div class="loader"></div>
              strong returning to UNO? Awesome!
          // The box with the links
          td(width='50%' valign='middle')
            table#smallBox
              tr
                td
                  ul
                    li
                      a#urlText(href="/authenticated/games/42") Games
                    li
                      a#urlText(href="/auth/login") Login
                    li
                      a#urlText(href="/auth/register") Register
                    li
                      a#urlText(href='/auth/account') My Account
                    li
                      a#urlText(href='/authenticated/lobby') Lobby
                    li
                      a#urlText(href='/auth/surprise') Surprise
                    li
                      a#urlText(href='/auth/about') About
                    // .nav-menu
                  // #site-navigation
// End Header
style.
  #sideLook {
  border-radius: 25px;
  background: #e67777;
  padding: 15px;
  spacing: 0;
  align: center;
  width: 100%;
  }
// Start Lobby
table#contact(border='0' width='100%' cellpadding='0' cellspacing='0' bgcolor='#c21010')
  tr
    td
      table(border='0' width='85%' cellpadding='15' cellspacing='0' align='center')
        // Heading Start
        tr
          td(height='160' align='center' valign='middle')
            font(face='arial' size='8' color=' #ff9e99')
              strong Lobby
            hr(width='70' color='#ff9e99')
            <br>
            font(face='Comic Sans MS' color='white' size='15') Welcome (#{username} #{userId})
            <br>
            font(face='Comic Sans MS' color='white' size='5') Messages
        // Heading  End
        style.
          #buttonStyleTwo {
          border-radius: 200px;
          }
        tr
          td(align='center' valign='top')
            table(border='0' width='55%' cellpadding='20' cellspacing='0' align='center' bgcolor='#c21010')
              tr
                td
                  table(border='0' width='100%' cellpadding='15' cellspacing='0' align='center' bgcolor='#c21010')
            form(action="/auth/login" method="post")                  
                div
                  block content
                template#message-content
                  .chat-message
                    span.username
                    span.message 
                    span.timestamp
                #chat 
                  #messages
                  div
                    <br><br>
                     font(face='Comic Sans MS' color='white' size='5') (#{username} #{userId})
                    input#message(type="text")
                <br/><br/>
        table

  // section padding bottom
  tr
    td(height='60')
  // section padding bottom End
// End Contact
// Start Footer
table(border='0' width='100%' cellpadding='0' cellspacing='0' bgcolor='#851515')
  tr
    td
      table(border='0' width='85%' cellpadding='15' cellspacing='0' align='center')
        p
        style.
          #centerAligner {
          text-align: center;
          }
        #centerAligner
        tr
          td(width='33.33%' valign='top')
            table(border='0' width='100%' cellpadding='15' cellspacing='0' align='center')
              tr
                td(align='center' valign='top')
                  font(color='#ff9e99' size='6')
                    span.fa.fa-phone
                  br
                  br
                  font(color='#ffffff' size='5' face='arial')
                    | Phone No
                  p
                    font(color='#c2c0c3' size='3' face='arial')
                      | (408) 123-4567
          td(width='33.33%' valign='top')
            table(border='0' width='100%' cellpadding='15' cellspacing='0' align='center')
              tr
                td(align='center' valign='top')
                  font(color='#ff9e99' size='6')
                    span.fa.fa-envelope
                  br
                  br
                  font(color='#ffffff' size='5' face='arial')
                    | Email
                  p
                    font(color='#c2c0c3' size='3' face='arial')
                      | Uno@UNO.org
          td(width='33.33%' valign='top')
            table(border='0' width='100%' cellpadding='15' cellspacing='0' align='center')
              tr
                td(align='center' valign='top')
                  font(color='#ff9e99' size='6')
                    span.fa.fa-map-marker
                  br
                  br
                  font(color='#ffffff' size='5' face='arial')
                    | Location
                  p
                    font(color='#c2c0c3' size='3' face='arial')
                      | Not Specified.
        tr
          td(colspan='3')
            hr(noshade='')
// End Footer
